[*.cs]

# CA1051: 不要声明可见实例字段
dotnet_diagnostic.CA1051.severity = none

# CA1034: 嵌套类型应不可见
dotnet_diagnostic.CA1034.severity = none

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA2211: 非常量字段应当不可见
dotnet_diagnostic.CA2211.severity = none

# CA2227: 集合属性应为只读
dotnet_diagnostic.CA2227.severity = none

# IDE1006: 命名样式
dotnet_diagnostic.IDE1006.severity = none

# CA1829: Use Length/Count property instead of Count() when available
dotnet_diagnostic.CA1829.severity = none

# CA1707: 标识符不应包含下划线
dotnet_diagnostic.CA1707.severity = none

# CA1303: 请不要将文本作为本地化参数传递
dotnet_diagnostic.CA1303.severity = none

# CA1720: 标识符包含类型名称
dotnet_diagnostic.CA1720.severity = none

# CA1001: 具有可释放字段的类型应该是可释放的
dotnet_diagnostic.CA1001.severity = none

# CA1031: 不捕获常规异常类型
dotnet_diagnostic.CA1031.severity = none
