<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BiliAccount" version="2.5.1.23" targetFramework="net472" />
  <package id="DynamicData" version="6.14.14" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Pharmacist.Common" version="1.5.15" targetFramework="net472" />
  <package id="ReactiveUI" version="11.4.1" targetFramework="net472" />
  <package id="ReactiveUI.Events.WPF" version="11.4.1" targetFramework="net472" />
  <package id="ReactiveUI.WPF" version="11.4.1" targetFramework="net472" />
  <package id="Splat" version="9.4.5" targetFramework="net472" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
</packages>