<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="file" value="./tmp/" />
    <add key="Livefile" value="./tmp/LiveCache/" />
    <add key="DANMU" value="1" />
    <add key="PlayWindowHeight" value="440" />
    <add key="PlayWindowWidth" value="720" />
    <add key="YouTubeResolution" value="640x360" />
    <add key="RoomConfiguration" value="./RoomListConfig.json" />
    <add key="RoomTime" value="40" />
    <add key="danmupost" value="0" />
    <add key="DefaultVolume" value="100" />
    <add key="Zoom" value="1" />
    <add key="cookie" value="" />
    <add key="PlayNum" value="5" />
    <add key="DanMuColor" value="0xFF,0x00,0x00,0x00" />
    <add key="ZiMuColor" value="0xFF,0x00,0x00,0x00" />
    <add key="DanMuSize" value="20" />
    <add key="ZiMuSize" value="24" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LiveListTime" value="5" />
    <add key="PlayWindowH" value="450" />
    <add key="PlayWindowW" value="800" />
    <add key="BufferDuration" value="3" />
    <add key="AutoTranscoding" value="0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="512" />
    </connectionManagement>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>