<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Text.Json.AllowReflectionBasedSerialization=true" />
	</runtime>
	<PropertyGroup>
		<EnableUnsafeBinaryFormatterSerialization>true</EnableUnsafeBinaryFormatterSerialization>
		<PublishTrimmed>true</PublishTrimmed>
		<JsonSerializerIsReflectionEnabledByDefault>true</JsonSerializerIsReflectionEnabledByDefault>
	</PropertyGroup>
</configuration>
