name: DDTV_Dev_CLI

on:
  push:
    branches-ignore: 
      - master 
    paths:
      - 'CLI/**'
      - '.github/workflows/DDTV_Dev_CLI.yml'
      - '!**/README.md'
  pull_request:
    branches-ignore: 
      - master 
    paths:
      - 'CLI/**'
      - '.github/workflows/DDTV_Dev_CLI.yml'
      - '!**/README.md'
  workflow_dispatch:

jobs:
  check_commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check commit message
        run: |
          commit_message=$(git log --format=%B -n 1 ${{ github.event.after }})
          if [[ $commit_message != \[dev\]* ]]; then
            echo "Commit message does not start with '[dev]'. Failing workflow."
            exit 1
          fi

  build:
    needs: check_commit
    strategy:
      matrix:
        os: 
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use .NET 8.x
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: cd CLI && dotnet restore
  
      - name: Build
        run: cd CLI && dotnet build --no-restore --output build_output
  
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: DDTV-CLI-${{ matrix.os }}
          path: CLI/build_output
